name: Build and Deploy Docs

on:
  push:
    branches:
      - main  # ou 'master' selon ton projet

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies Sphinx
        run: |
          pip install sphinx sphinx_rtd_theme
          
      - name: Install project dependencies (pyproject.toml)
        run: |
          pip install -e .

      - name: Build documentation
        run: |
          cd docs
          make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
